*{
    background-color: white;
    font-family: arial;
}

$bg: #66B9BF;
$primary-color: blue;
$seconday-color: green;
$titles: #f1f7ed;

$general-font: arial;
$font-size: 18px;



/* Agregadas por Shara*/
$font-color-namepage: #F1F7ED;
$menu-background-color: #E37225;
$logo-width: 150px;
$logo-height: 150px;
$font-size-pagename: 70px;
$font-size-presentation: 20px;

/* Agragadas por Alejandro*/
$primary-gradient: #088A29;
$secondary-gradient:#31B404;
$third-gradient: #FF4000;
$fourth-gradient: #FFBF00;